version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: smart-financial-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smart_financial_planner
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
